@import 'styles/variables.scss';

.btn {
  &-container__add-user {
    text-align: right;
    margin: 1rem 0;
  }
}

@include size(medium) {
  }

@include size(small) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}