@import 'styles/variables.scss';

.post-item {
  background: $main-color;
  overflow: hidden;
  margin: 0.6rem;
  padding: 0.6rem;
  border-radius: 3rem 0.6rem 3rem 0.6rem;
  border: 3px solid rgba(77, 202, 108, 0.6);
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  height: 600px;

  &:hover {
    box-shadow: 10px 15px 10px rgba(77, 202, 108, 0.6);
  }

  &__title {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    padding-bottom: 1rem;
    height: max-content;
    overflow: hidden;
    // &-name {
    padding-left: 1.5rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 1.3rem;
    color: $danger-color;
    font-weight: 700;
    // }
  }

  &__content {
    box-sizing: border-box;
    height: 500px;
    overflow: hidden;

    &-text {
      color: $main-text-color;
      margin-bottom: 1rem;
      text-align: justify;
    }

    &-image {
      max-width: 100%;
      max-height: 200px;
    }
  }

  &__info {
    display: grid;
    margin: 1rem 0;
    grid-template-columns: 1fr 1fr;
    color: $danger-color;
    font-weight: 700;
    font-size: 1.2rem;

    &-date {
      text-align: start;
    }

    &-author {
      text-align: end;
    }
  }

  &__action-buttons {
    display: flex;
    min-width: 10rem;
    flex-direction: row;
    justify-content: space-between;

    & > Button {
      margin: 0 10px;
    }
  }
}

.form {
  &__textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;
  }

  &__link {
    text-decoration: none;
  }
}

@include size(medium) {
  .post-item {
    margin: 0.4rem;
    padding: 0.4rem;

    &__title {
      padding-left: 1rem;
      padding-right: 0.7rem;
      font-size: 1rem;
    }

    &__content-text {
      font-size: 0.7rem;
    }

    &__info {
      font-size: 0.9rem;
    }
  }
}
