@import "./variables.scss";

label {
  font-size: 1.2rem;
  color: $primary-color-active;
}

h1 {
  font-size: 2rem;
  color: $danger-color-active;
}

h3 {
  font-size: 1.2rem;
  color: $danger-color-active;
}
