@import './variables.scss';

label {
  font-size: 1.2rem;
  color: $main-text-color;
}

h1 {
  font-size: 2rem;
  color: $main-text-color;
}

h3 {
  font-size: 1.2rem;
  color: $main-text-color;
}

@include size(small) {
  label {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1rem;
  }
}
