@import 'styles/variables.scss';
@import 'styles/fonts.scss';

.modal {
  width: 25rem;
  height: fit-content;
  background: white;
  color: $white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-bg {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }

  &__header {
    background: $primary-color-active;
    word-wrap: normal;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    &__title {
      padding: 1.5rem 2rem;
      color: $main-text-color;
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
      word-wrap: break-word;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    justify-content: space-evenly;

    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
