@import "styles/variables.scss";

.sidebar {
  z-index: 1;
  position: fixed;
  height: 100vh;
  background-color: $primary-color;
  display: flex;
  justify-content: start;
  flex-direction: column;

  &__link-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 1rem 1.25rem;
    margin-right: 2rem;
    &:hover {
      background: #fff;
      opacity: 0.75;
      color: $danger-color;
      font-weight: bolder;
      width: 100%;
      text-align: center;
      border-radius: 10px;
      margin: 0 1rem;
    }
  }
}
@media (max-width: 1279px) {
  .sidebar__link-item {
    height: 2.5rem;
    padding: 0.8rem 1rem;
    margin-right: 1rem;
    font-size: 0.8rem;
    &:hover {
      margin: 0 0.5rem;
    }
  }

}