@import "/src/styles/variables.scss";

.post-item {
  background: transparent;
  overflow: hidden;
  margin: 0.6rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 3px solid #ece0e0;
  transition: all 0.3s ease;
  height: 500px;
  &:hover {
    box-shadow: 0 5px 10px rgba(10, 100, 255, 0.6);
  }
  &__title {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    padding: 1rem 0;
    &-name {
      text-align: center;
      font-size: 1.3rem;
      color: $danger-color-active;
    }
  }
  &__content {
    box-sizing: border-box;
    &-text {
      color: $primary-color;
      height: 180px;
      margin-bottom: 1rem;
      overflow: hidden;
      text-align: justify;
    }
    &-image {
      max-width: 100%;
      max-height: 300px;
    }
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $danger-color;
    &-date {
      text-align: start;
    }
    &-author {
        text-align: end;
    }
  }
}
